body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ECF0F1;
}
header {
    background-color: white;
    height: 15vh;
    display: flex;
    align-items: center;
}
#logo {
    height: 10vh;
    margin-left: 5vw;
}
nav {
    background-color: #04091D;
    width: 90vw;
    height: 10vh;
    margin: 0 auto;
}
ul {
    width: 45vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}
li {
    flex: 10%;
    text-transform: uppercase;
    line-height: 10vh;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}
a {
    color: white;
    text-decoration: none;
}
main {
    width: 90vw;
    margin: 0 auto;
}
section {
    margin-top: 2vh;
}
.image_article {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}
figure {
    margin: 0;
}
figcaption {
    position: relative;
    top: -30px;
    left: 16px;
}

.top_articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 86vh;
    width: 93.2vw;
    list-style-type: none;
}
.top_article {
    width: 30%;
    flex: 0 0 30%;

}
.big {
    flex: 0 0 100%;
    width: 63%;
}
.breaking {
    background-color: white;
    margin: 2vh 0 5vh 0;
    width: 90vw;
    height: 10vh;
    font-size: 1.2rem;
    padding-left: 1%;
    line-height: 10vh;
    box-sizing: border-box;
}
.red {
    color: red;
    float: left;
}
.articles {
    background-color: purple;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 390vh;
    margin-bottom: 25vh;
}
.latest_news {
    background-color: blue;
    flex: 0 0 65%;
    height: 120vh;
    margin: 0;
    margin-right: 9.6vh;
}
.editors_pick {
    background-color: yellow;
    margin: 0;
    flex: 0 0 30%;
    height: 200vh;
}
/* .popular_posts {
    height: 110vh;
    flex: 0 0 30%;
    background-color: red;
    margin: 0;
} */
.title {
    background-color: black;
    color: white;
    height: 6vh;
    text-align: center;
    line-height: 6vh;
}
.left {
    width: 96%;
    margin: 2%;
}
.right {
    width: 92%;
    margin: 4%;
}
footer {
    background-color: #04091D;
    height: 60vh;
}

@media only screen and (max-width: 1000px) {
    .top_article {
        flex: none;
        width: 50%;
    }
    .big {
        flex: 0 0 100%;
    }
    .top_articles {
        flex-direction: row;
        height: auto;
        width: auto;
    }
  }
  @media only screen and (max-width: 600px) {
      .breaking {
          line-height: 5vh;
      }
  }